<!DOCTYPE html>
<html lang="ja" class="no-js" prefix="og: http://ogp.me/ns#">

    <head>
        <meta charset="UTF-8">
        <title><%= title %>Title</title>
        <meta name="description" content="<%= description %>">
        <meta name="keywords" content="<%= keywords %>">

        <!--viewport widthの値は、サイトの横幅 or device-width　を設定-->
        <meta name="viewport" content="width=device-width,minimum-scale=0,maximum-scale=10">

        <!--SNS関連 ここから-->
        <meta property="fb:app_id" content="">
        <meta property="og:locale" content="ja_JP">
        <meta property="og:title" content="<%= title %>Title">
        <meta property="og:description" content="<%= description %>">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="">
        <meta property="og:type" content="<%= type %>">
        <meta property="og:image" content="./images/ogp.png">
        <!--SNS関連 ここまで-->

        <!--favicon,webclip ここから-->
        <meta name="apple-mobile-web-app-title" content="">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link rel="shortcut icon" href="images/favicon.ico">
        <!--favicon,webclip ここまで-->

        <!--css ここから-->
        <link rel="stylesheet" href="./css/style.css">
        <!--css ここまで-->

        <!--初めに読み込ませたいjs ここから-->
        <script>
            document.documentElement.className = 'js';
        </script>
        <!--初めに読み込ませたいjs ここまで-->

    </head>

    <body class="<%= page_class %>">
        <!--jsでパスの値が必要な場合に使うタグ-->
        <input type="hidden" value="./" id="base_url">
