        <% if(id.indexOf('mail-magazine') !== -1 ){ id = "mail-magazine"; } %>

        <!--page-hero ここから-->
        <% if(copy !== ""){ %>
        <div class="page-hero page-hero-position <% if(copy.length > 14){ %>page-hero-narrow<% } %>" data-name="<%= id %>" id="js-page-hero">
            <div class="page-hero-loading" id="js-page-hero-loading">
                <div class="page-hero-loading-object"></div>
            </div>
            <div class="page-hero-inner">
                <div class="page-hero-text">
                    <i class="page-hero-icon sprite sprite-<%= iconId %>-clear"></i>
                    <h1 class="page-hero-sub-title"><%= title.replace('｜',''); %></h1>
                    <hr/>
                    <p class="page-hero-title">
                        <strong><%- copy %></strong>
                    </p>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="page-hero page-hero-small page-hero-position" data-name="<%= id %>" id="js-page-hero">
            <div class="page-hero-loading" id="js-page-hero-loading">
                <div class="page-hero-loading-object"></div>
            </div>
            <div class="page-hero-inner">
                <div class="page-hero-text">
                    <i class="page-hero-icon sprite sprite-<%= iconId %>-clear"></i>
                    <h1 class="page-hero-sub-title"><%= title.replace('｜',''); %></h1>
                </div>
            </div>
        </div>
        <% } %>
        <!--page-hero ここまで-->