<% var
    id = "service-box",
    title = "キスケBOX｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = '1日中<span class="page-hero-font-a">、</span>楽しめる場所を目指して。',
    iconId = "box";
%>
<% include layout/_head %>
<% include layout/_header %>

        <% include module/modal/_modal-service-box %>
        <% include module/modal/_modal-service-box-parking %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>

            <div class="l-space l-space-padding-top-large l-space-padding-bottom-xsmall">
                <div class="concept">
                    <div class="concept-slider" id="js-concept-slider">
                        <img src="image/service/service-box/slider-image/box-concept1.jpg" alt=""/>
                        <img src="image/service/service-box/slider-image/box-concept2.jpg" alt=""/>
                        <img src="image/service/service-box/slider-image/box-concept3.jpg" alt=""/>
                    </div>

                    <p class="concept-description">総面積21,058㎡ の中で、ボウリングに天然温泉、カラオケ、パチンコ、麻雀と、キスケが展開するアミューズメントをすべて楽しめる施設。<br>
                        それが『キスケBOX』です。<br>
                        その他にもエステや岩盤浴、ダーツ・ビリヤード、スポーツクラブ、コインランドリー、ゲームセンター、ネットカフェ、カルチャースクール、託児所、スーパーマーケットまで揃えています。<br>
                        また、1,100台以上停められる大型の駐車場も完備しています。</p>
                </div>
            </div>

            <!--box-gallery ここから-->
            <div class="l-space l-space-foundation l-space-padding-top l-space-padding-bottom-xsmall">
                <section class="box-gallery">
                    <div class="box-gallery-header headline headline-small">
                        <h1>写真で見るキスケBOX</h1>
                        <div class="headline-line"></div>
                    </div>
                    <section class="gallery">
                        <h1>屋外</h1>
                        <% var floor1Data = [
                            { title: "屋上緑化", link: "" },
                            { title: "太陽熱温水パネル", link: "" }
                        ];%>
                        <ul class="thumbnails grid grid-col2" id="js-modal-triggers-box-outdoor">
                            <% for(var i=0; i< floor1Data.length; i++) { %>
                            <li class="grid-item">
                                <a class="thumbnail" href="javascript:void(0);" data-index="<%= [i] %>">
                                    <div class="thumbnail-image">
                                        <i class="thumbnail-icon sprite sprite-plus"></i>
                                        <img src="image/service/service-box/thumbnail/outdoor/box<%= [i + 1] %>.jpg" alt=""/>
                                    </div>
                                    <p class="thumbnail-title"><%- floor1Data[i].title %></p>
                                </a>
                                <% if(floor1Data[i].link !== ""){ %>
                                <a href="<%- floor1Data[i].link %>" class="thumbnails-link">
                                    <i class="arrow arrow-primary"></i>
                                    <span>詳細ページへ</span>
                                </a>
                                <% } %>
                            </li>
                            <% } %>
                        </ul>
                    </section>

                    <hr class="separate-line"/>

                    <section class="gallery">
                        <h1>本館１F</h1>
                        <% var floor1Data = [
                            { title: "天然温泉キスケのゆ", link: "service-spa.html" },
                            { title: "キスケPAO", link: "service-pachinko.html" },
                            { title: "グランドシティMG INNキスケ<span>ゲームセンター</span>", link: "" },
                            { title: "salon de POO<span>エステ／サロン</span>", link: "" },
                            { title: "かめや<span>うどん</span>", link: "" },
                            { title: "おが多<span>らーめん</span>", link: "" },
                            { title: "マクドナルド<span>ファストフード</span>", link: "" },
                            { title: "湯けむり亭<span>食堂</span>", link: "" },
                            { title: "STARS COFFEE<span>カフェ</span>", link: "" }
                        ];%>
                        <ul class="thumbnails grid grid-col2" id="js-modal-triggers-box-floor1">
                            <% for(var i=0; i< floor1Data.length; i++) { %>
                            <li class="grid-item">
                                <a class="thumbnail" href="javascript:void(0);" data-index="<%= [i] %>">
                                    <div class="thumbnail-image">
                                        <i class="thumbnail-icon sprite sprite-plus"></i>
                                        <img src="image/service/service-box/thumbnail/floor1/box<%= [i + 1] %>.jpg" alt=""/>
                                    </div>
                                    <p class="thumbnail-title"><%- floor1Data[i].title %></p>
                                </a>
                                <% if(floor1Data[i].link !== ""){ %>
                                <a href="<%- floor1Data[i].link %>" class="thumbnails-link">
                                    <i class="arrow arrow-primary"></i>
                                    <span>詳細ページへ</span>
                                </a>
                                <% } %>
                            </li>
                            <% } %>
                        </ul>
                    </section>

                    <hr class="separate-line"/>

                    <section class="gallery">
                        <h1>本館2F</h1>
                        <% var floor1Data = [
                        { title: "麻雀JAO", link: "service-mah-jong.html" },
                        { title: "リビング<br>カルチャーセンター" , link: "" }
                        ];%>
                        <ul class="thumbnails grid grid-col2" id="js-modal-triggers-box-floor2">
                            <% for(var i=0; i< floor1Data.length; i++) { %>
                            <li class="grid-item">
                                <a class="thumbnail" href="javascript:void(0);" data-index="<%= [i] %>">
                                    <div class="thumbnail-image">
                                        <i class="thumbnail-icon sprite sprite-plus"></i>
                                        <img src="image/service/service-box/thumbnail/floor2/box<%= [i + 1] %>.jpg" alt=""/>
                                    </div>
                                    <p class="thumbnail-title"><%- floor1Data[i].title %></p>
                                </a>
                                <% if(floor1Data[i].link !== ""){ %>
                                <a href="<%- floor1Data[i].link %>" class="thumbnails-link">
                                    <i class="arrow arrow-primary"></i>
                                    <span>詳細ページへ</span>
                                </a>
                                <% } %>
                            </li>
                            <% } %>
                        </ul>
                    </section>

                    <hr class="separate-line"/>

                    <section class="gallery">
                        <h1>本館3F</h1>
                        <% var floor3Data = [
                        { title: "キスケボウル", link: "service-bowl.html" },
                        { title: "カラオケWAO", link: "service-karaoke.html" },
                        { title: "Le Tiarre<span>岩盤浴&エステ</span>", link: "" },
                        { title: "アイ・カフェ<span>ネットカフェ</span>", link: "" },
                        { title: "MG<span>ダーツ・ビリヤード</span>", link: "" }

                        ];%>
                        <ul class="thumbnails grid grid-col2" id="js-modal-triggers-box-floor3">
                            <% for(var i=0; i< floor3Data.length; i++) { %>
                            <li class="grid-item">
                                <a class="thumbnail" href="javascript:void(0);" data-index="<%= [i] %>">
                                    <div class="thumbnail-image">
                                        <i class="thumbnail-icon sprite sprite-plus"></i>
                                        <img src="image/service/service-box/thumbnail/floor3/box<%= [i + 1] %>.jpg" alt=""/>
                                    </div>
                                    <p class="thumbnail-title"><%- floor3Data[i].title %></p>
                                </a>
                                <% if(floor3Data[i].link !== ""){ %>
                                <a href="<%- floor3Data[i].link %>" class="thumbnails-link">
                                    <i class="arrow arrow-primary"></i>
                                    <span>詳細ページへ</span>
                                </a>
                                <% } %>
                            </li>
                            <% } %>
                        </ul>
                    </section>

                    <hr class="separate-line"/>

                    <section class="gallery">
                        <h1>別棟</h1>
                        <% var floor1Data = [
                        { title: "Hips Dance School<span>ダンススクール</span>" },
                        ];%>
                        <ul class="thumbnails grid grid-col2" id="js-modal-triggers-box-other">
                            <% for(var i=0; i< floor1Data.length; i++) { %>
                            <li class="grid-item">
                                <a class="thumbnail" href="javascript:void(0);" data-index="<%= [i] %>">
                                    <div class="thumbnail-image">
                                        <i class="thumbnail-icon sprite sprite-plus"></i>
                                        <img src="image/service/service-box/thumbnail/other/box<%= [i + 1] %>.jpg" alt=""/>
                                    </div>
                                    <p class="thumbnail-title"><%- floor1Data[i].title %></p>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </section>

                    <hr class="separate-line"/>

                    <section class="gallery">
                        <h1>別館1F</h1>
                        <% var floor1Data = [
                        { title: "あむぱむ<span>託児ルーム</span>" },
                        { title: "アクトスWill松山<span>スポーツクラブ</span>" },
                        { title: "食彩館エルベ24<span>スーパー</span>" },
                        { title: "洗濯館エルベ24<span>コインランドリー</span>" },
                        { title: "お食事処 なが坂<span>食堂</span>" }
                        ];%>
                        <ul class="thumbnails grid grid-col2" id="js-modal-triggers-box-other1">
                            <% for(var i=0; i< floor1Data.length; i++) { %>
                            <li class="grid-item">
                                <a class="thumbnail" href="javascript:void(0);" data-index="<%= [i] %>">
                                    <div class="thumbnail-image">
                                        <i class="thumbnail-icon sprite sprite-plus"></i>
                                        <img src="image/service/service-box/thumbnail/other1/box<%= [i + 1] %>.jpg" alt=""/>
                                    </div>
                                    <p class="thumbnail-title"><%- floor1Data[i].title %></p>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </section>
                </section>
            </div>
            <!--box-gallery ここまで-->

            <!--service-data ここから-->
            <div class="l-space l-space-padding-top-large l-space-padding-bottom-medium">
                <section class="service-data">
                    <div class="service-data-header-small headline headline-small">
                        <h1>店舗概要</h1>
                        <div class="headline-line"></div>
                    </div>

                    <table class="table">
                        <tr>
                            <th class="table-th">所在地</th>
                            <td class="table-td">
                                <div class="google-map">
                                    <address>愛媛県松山市宮田町4 ( JR 松山駅前)</address>
                                    <div class="google-map-object" id="js-map-bowl"
                                         data-lat="33.8412833"
                                         data-lng="132.7529339"
                                         data-pin="default"
                                        ></div>
                                    <p class="google-map-link">
                                        <p class="google-map-link">
                                            <a class="button button-dark" href="http://maps.google.com/maps?q=33.8412833,132.7529339" target="_blank">
                                                <span>Googleマップを開く</span>
                                                <i class="button-dark-blank sprite sprite-blank-small"></i>
                                            </a>
                                        </p>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-th">営業時間</th>
                            <td class="table-td">各店舗によって異なります。<br>
                                ※キスケBOXは24時間入場可能です。</td>
                        </tr>
                        <tr>
                            <th class="table-th">駐車場</th>
                            <td class="table-td">
                                1,109台(24時間営業)<br>
                                <a href="" class="link-puls" id="js-modal-trigger-parking" data-target="#js-modal-parking">
                                    <i class="link-puls-icon"></i>
                                    <span class="link-puls-text">駐車料金を見る</span>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <aside class="kisuke-day">
                        <div class="kisuke-day-body">
                            <h1>毎月第3水曜日は「キスケの日」!</h1>
                            <p>キスケBOX内の各施設で、<br>
                                お得なイベントや楽しい企画を<br>
                                お届けしています。</p>
                        </div>
                        <div class="kisuke-day-image about-image" id="js-kisuke-day">
                            <div class="about-image-object about-image-object1"></div>
                            <div class="about-image-object about-image-object2"></div>
                            <div class="about-image-object about-image-object3"></div>
                            <div class="about-image-object about-image-object4"></div>
                            <div class="about-image-object about-image-object5"></div>
                            <div class="about-image-object about-image-object6"></div>
                            <div class="about-image-object about-image-kisuke-day"></div>
                        </div>
                    </aside>

                </section>
            </div>
            <!--service-data ここまで-->

            <% var newsContainerServiceData = {
                newsContainerServiceClass: "news-container-foundation",
                title: "キスケBOXニュース"
            };%>
            <% include ./module/_news-container-service %>

            <% var socialSectionData = {
                socialSectionClass: "social-section-light",
                facebook: true,
                twitter: false,
                mailMagazine: false,
                line: true,
                instagram: false
            };%>
            <% include ./module/_social-section %>

            <div class="service-menu service-menu-padding-top service-menu-padding-bottom">
                <% var animationNavi = "service"; %>
                <% include module/_animation-navi %>
            </div>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>