<% var
    id = "service-pachinko",
    title = "パチンコPAO｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = 'すべてのお客様に<span class="page-hero-font-a">、</span>最高の余暇を。',
    iconId = "pachinko";
%>
<% var shops = [
    {
        id: "matsuyama",
        name: "PAO 松山駅前店",
        address: "松山市宮田町4(キスケBOX内)",
        line: true,
        lineUrl: "https://line.me/ti/p/%40dja0444i",
        link: "http://www.p-world.co.jp/ehime/pao-ekimae.htm"
    },
    {
        id: "shinonome",
        name: "PAO 東雲店",
        address: "松山市畑寺3丁目7-20",
        line: false,
        lineUrl: "",
        link: "http://www.p-world.co.jp/ehime/paoshinonome.htm"
    },
    {
        id: "kosaka",
        name: "PAO777 小坂店",
        address: "松山市小坂5丁目12-5",
        line: true,
        lineUrl: "https://line.me/ti/p/%40ope4701i",
        link: "http://www.p-world.co.jp/ehime/kisukepao-kosaka.htm"
    },
    {
        id: "masaki",
        name: "PAO 松前店",
        address: "伊予郡松前町恵久美615-1",
        line: false,
        lineUrl: "",
        link: "http://www.p-world.co.jp/ehime/kisuke-pao.htm"
    },
    {
        id: "imabari",
        name: "PAO 今治本店",
        address: "今治市別宮町1-2-3",
        line: false,
        lineUrl: "",
        link: "http://www.p-world.co.jp/ehime/kisukepao-imabari.htm"
    },
    {
        id: "nakadera",
        name: "PAO 中寺店",
        address: "今治市中寺樋掛239-4",
        line: false,
        link: "http://www.p-world.co.jp/ehime/k-nakadera.htm"
    },
    {
        id: "toryuu",
        name: "PAO 鳥生店",
        address: "今治市南鳥生2-3-52",
        line: true,
        lineUrl: "https://line.me/ti/p/%40kit2112u",
        link: "http://www.p-world.co.jp/ehime/kisukepao-toriu.htm"
    },
    {
        id: "koizumi",
        name: "PAO 小泉店",
        address: "今治市小泉3-1-32",
        line: false,
        lineUrl: "",
        link: "http://www.p-world.co.jp/ehime/k-koizumi.htm"
    }
]; %>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>
            <div class="l-space l-space-padding-top-large l-space-padding-bottom-xsmall">
                <div class="concept">
                    <div class="concept-slider concept-slider-margin-small"
                         id="js-concept-slider">
                        <img src="image/service/service-pachinko/slider-image/pahinko-concept1.jpg" alt=""/>
                        <img src="image/service/service-pachinko/slider-image/pahinko-concept2.jpg" alt=""/>
                        <img src="image/service/service-pachinko/slider-image/pahinko-concept3.jpg" alt=""/>
                    </div>

                    <p class="concept-description">女性やお年寄り、体の不自由な方でも安心して遊んでいただける空間をご提供することが私たちパチンコPAOの最大の使命だと考えています。そのために、これまで分煙ボードや空気清浄機、障害者用駐車場などを導入してきました。
                        また、女性スタッフが考えたオリジナルスイーツブランド「キスハピ」をメインにご自宅に帰られた後もファミリーで楽しんでいただけるよう、「幸せお持ち帰り」をキーワードとして、さまざまなスイーツを取り揃えています。キスケPAOにご来店くださった全てのお客様を、ホールでもお家でも笑顔にしたい。
                        全スタッフがそんな思いを抱きながら働いています。</p>
                </div>
            </div>

            <section class="pachinko-shops pachinko-shops-position">
                <div class="pachinko-shops-header headline headline-small">
                    <h1>店舗一覧</h1>
                    <div class="headline-line"></div>
                </div>

                <ul class="pachinko-shops-list">
                    <% for(var i=0; i< shops.length; i++) { %>
                    <li>
                        <article class="shop">
                            <a class="shop-image" href="<%= shops[i].link %>" target="_blank">
                                <p class="shop-text">P-WORLDへ</p>
                                <i class="shop-icon sprite sprite-blank"></i>
                                <img src="image/service/service-pachinko/shop/<%= shops[i].id %>.jpg" alt=""/>
                            </a>
                            <h1 class="shop-title"><%= shops[i].name %></h1>
                            <p class="shop-address"><%= shops[i].address %></p>
                            <% if(shops[i].line === true){ %>
                            <ul class="shop-buttons grid grid-col2">
                                <li class="grid-item">
                                    <a class="button button-full button-mailmagazine" href="service-pachinko-mail-magazine-<%= shops[i].id %>.html">
                                        <i class="button-mail sprite sprite-mail"></i>
                                        <span class="button-text">メルマガ登録</span>
                                        <i class="button-arrow arrow arrow-large"></i>
                                    </a>
                                </li>
                                <li class="grid-item">
                                    <a class="button button-full button-line" href="<%= shops[i].lineUrl %>">
                                        <i class="button-line sprite sprite-line"></i>
                                        <span class="button-text">友だち追加</span>
                                        <i class="button-blank-small sprite sprite-blank-small"></i>
                                    </a>
                                </li>
                            </ul>
                            <% } else { %>
                            <ul class="shop-buttons">
                                <li>
                                    <a class="button button-full button-mailmagazine" href="service-pachinko-mail-magazine-<%= shops[i].id %>.html">
                                        <i class="button-mail sprite sprite-mail"></i>
                                        <span class="button-text">メルマガ登録</span>
                                        <i class="button-arrow arrow arrow-large"></i>
                                    </a>
                                </li>
                            </ul>
                            <% } %>
                        </article>
                    </li>
                    <% } %>
                </ul>

            </section>

            <% var newsContainerServiceData = {
                newsContainerServiceClass: "",
                title: "パチンコPAO ニュース"
            };%>
            <% include ./module/_news-container-service %>

            <% var socialSectionData = {
                socialSectionClass: "",
                facebook: true,
                twitter: false,
                mailMagazine: false,
                line: false,
                instagram: false
            };%>
            <% include ./module/_social-section %>

            <div class="service-menu service-menu-padding-top service-menu-padding-bottom">
                <% var animationNavi = "service"; %>
                <% include module/_animation-navi %>
            </div>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
